.widget-form{

    text-align: center;
    padding: 40px;
    border: 3px solid $light-grey;
    max-width: 400px;
    margin: 0 auto;
   
    .wg-header{
        margin-bottom: 40px;
        h1{
            @include font-size($xxxl-font);
            font-weight: $font-semi;
            line-height: 21.6px;
            margin-bottom: 10px;
            color: $grey;
        }
        p{
            @include font-size($sm-font);
            font-weight: $font-normal;
            line-height: 21.6px;
            color: lighten($black, 20%);
        }
    }
    .wg-content{
        .form-group{
            position: relative;
            label{
                @include font-size($sm-font);
                position: absolute;
                top: 12px;
                bottom: 0;
                left: 13px;
                text-align: left;
                width: 100%;
                @include transition(0.2s);
                color: darken($white, 13.5%);
                margin: 0;
            }
            input{
                margin-bottom: 30px;
                @include font-size($sm-font);
                color: $grey;
                &:focus + label, &:valid + label{
                    bottom: 100%;
                    top: auto;
                    left: 0;
                    color: $grey;
                    font-style: italic;
                    font-weight: $font-semi;
                }
                @include placeholder{
                    opacity: 0;
                }
            }
            .invalid-tooltip{
                top: auto;
                bottom: 100%;
                padding: 2px 18px;
                border-radius: 0;
                right: 3px;
                left: auto;
                background-color: $error-bg;
                color: $error-color;
                @include font-size($xs-font);
            }
        }
       
        .login-options{
            margin: 20px 0;
            @include clearfix();
            .remember-me{
                @include font-size($xs-font);
                font-weight: $font-normal;
            }
            .checkbox-container {
                display: block;
                position: relative;
                padding-left: 25px;
                margin-bottom: 12px;
                cursor: pointer;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                input {
                    position: absolute;
                    opacity: 0;
                    cursor: pointer;
                }
                .checkmark {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 25px;
                    width: 25px;
                    background-color: $light-grey;
                    width: 20px;
                    height: 20px;
                    border-radius: 3px;
                }
                /* On mouse-over, add a grey background color */
                &:hover input ~ .checkmark {
                    background-color: $light-grey;
                }

                /* When the checkbox is checked, add a blue background */
                input:checked ~ .checkmark {
                    background-color: $primary;
                }

                /* Create the checkmark/indicator (hidden when not checked) */
                .checkmark:after {
                    content: "";
                    position: absolute;
                    display: none;
                }

                /* Show the checkmark when checked */
                input:checked ~ .checkmark:after {
                    display: block;
                }

                /* Style the checkmark/indicator */
                .checkmark:after {
                    left: 7px;
                    top: 3px;
                    width: 5px;
                    height: 12px;
                    border: solid $white;
                    border-width: 0 3px 3px 0;
                    @include transform(rotate(45deg));
                }
            }
            a{
                @include font-size($xs-font);
                font-weight: $font-normal;
            }
        }
        button{
            @include font-size($xl-font);
            width: 100%;
        }
    }
}