
header{
    padding: 15px 0;
    margin-bottom: 15px;
    background: $white;
    @include transition(all .55s ease-in-out);
    &.scrolled{
        @include shadow(0 3px 5px rgba(57, 63, 72, 0.3));
    }
    nav.navbar{
        
        .navbar-brand{
            padding: 0;
            margin-left: 15px;
            height: auto;
            img{
                height: 40px;
                width: auto;
                @include md{
                    height: 54px;
                }
            }
        }
        form{
            position: relative;
            margin: 0; 
            &.active{
                input.form-control{
                    width: 200px;  
                    padding-right: 50px;
                }
            }
            input.form-control{
                border: none;
                background: $secondary;
                @include shadow(none);
                width: 0;
                border-radius: 4px;
                @include transition(all .55s ease-in-out);
                height: 40px;
                line-height: 40px;
                color: $black;
                @include font-size($sm-font);
                font-weight: $font-normal;
            }
            a{
                display: flex;
                align-items: center;
                border-radius: 4px;
                height: 40px;
                width: 50px;
                position: absolute;
                top: 0;
                right: 0;
                line-height: 24px;
                text-align: center;
                
                cursor: pointer;
                &:hover, &:focus, &:active{
                    background: $secondary;
                    border-color: $secondary;
                }
                i{
                    color: $primary;
                }


            }
        }
    }
}
