.card{
    @include transition(all .55s ease-in-out);     
    border:none; 
    max-width: 220px;
    margin: 0 auto;
    margin-bottom: 40px;
    position: relative;
    overflow: hidden;
    &:after{
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        height: 50px;
        width: 200%;
        @include transform(rotate(-45deg) translateY(-400%));
        background: linear-gradient(to bottom, rgba($white,0.2) 0%, rgba($white,0.8) 51%, rgba($white,0.8) 71%, rgba($white,0.12) 100%);
        left: 0px;
        @include transition(all 1s);
    }
    &:hover{
        text-decoration: none;
        &:after{
            @include animation(glance 1s ease);
            animation-fill-mode: forwards;
        }
    }

    
    .card-body{
        margin-top: 20px; 
        padding: 0;
        .card-title{
            @include font-size($sm-font);
            font-weight: $font-normal;
            margin: 0;
            color: $grey;
        }
        .card-text{
            @include font-size($lg-font);
            font-weight: $font-semi;
            text-transform: uppercase;
            color: $black;
        }

    }
    
}
       
 