<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
    <title>Carrefour | HomePage</title>
</head>

<body>
    <header class="sticky-top">
        <div class="container">
            <nav class="navbar">
                <a class="navbar-brand" href="#">
                    <img class="logo" alt="carrefour logo" src="${require(`./assets/images/Carrefour_Logo.png`)}" />
                </a>
                <form class="form-inline" search-form>
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <a class="btn btn-secondary">
                        <i class="fa fa-search fa-lg"></i>
                    </a>
                </form>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="widget widget-form">
                <div class="wg-header">
                    <h1>Sign In Now</h1>
                    <p>Unlock awesome features!</p>
                </div>
                <div class="wg-content">

                    <form role="form" validation novalidate>
                        <!-- start username input -->
                        <div class="form-group">

                            <!-- username input -->
                            <input type="text" id="username" name="username" class="form-control form-control-lg"
                                data-validate-presence='{ "message": "Required field"}' placeholder="Username" required>
                            <!-- username label -->
                            <label for="username">Username</label>

                        </div>
                        <!-- end username input -->
                        <!-- start password input -->
                        <div class="form-group">

                            <!-- password input -->
                            <input type="password" id="password" name="password" class="form-control form-control-lg"
                                data-validate-presence='{ "message": "Required field"}' placeholder="Password" required>
                            <!-- password label -->
                            <label for="password">Password</label>

                        </div>
                        <!-- end password input -->
                        <div class="login-options">
                            <label class="remember-me checkbox-container pull-left">
                                <input type="checkbox" checked> Keep me logged in
                                <span class="checkmark"></span>
                            </label>
                            <a href="#" class="pull-right">Forgot password?</a>
                        </div>
                        <div>
                            <button class="btn btn-primary btn-lg" type="submit">SIGN IN</button>
                        </div>
                    </form>

                </div>

            </div>
            <hr class="my-5"/>
            <div class="widget widget-cards">
                <div class="wg-content">
                    <div class="row">
                        <div class="col-sm-4 col-md-4">

                            <a class="card" href="#">
                                <img class="card-img-top" src="${require(`./assets/images/product.jpg`)}" alt="product">
                                <div class="card-body">
                                    <h5 class="card-title">iPhone 6 Black</h5>
                                    <p class="card-text">AED 1000</p>
                                </div>
                            </a>


                        </div>
                        <div class="col-sm-4 col-md-4">
                            <a class="card" href="#">
                                <img class="card-img-top" src="${require(`./assets/images/product.jpg`)}" alt="product">
                                <div class="card-body">
                                    <h5 class="card-title">iPhone 7 Black</h5>
                                    <p class="card-text">AED 2000</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-sm-4 col-md-4">
                            <a class="card" href="#">
                                <img class="card-img-top" src="${require(`./assets/images/product.jpg`)}" alt="product">
                                <div class="card-body">
                                    <h5 class="card-title">iPhone 8 Black</h5>
                                    <p class="card-text">AED 3000</p>
                                </div>
                            </a>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>