// styles
@import "./theme/index";
//bootstrap
@import "~bootstrap/scss/bootstrap";
//fontawesome
@import '~font-awesome/css/font-awesome.css';
//layout
@import "./layout/index";
//tiles
@import "./tiles/index";
//widgets
@import "./widgets/index";


body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: $font;
  min-width: 340px;
}